# Created by .ignore support plugin (hsz.mobi)

.gradle
.idea

application-real-oauth.properties

build
out
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
